* { 
margin: 0;
padding: 0;
} 


body { 
 
background-image: url("background\ about.jpg"); 
background-repeat: no-repeat;
background-size: cover; 
} 

.grid-container > div { 
 font-size: 30px; 
 
} 

.grid-container { display: grid; 
grid-template-columns: auto auto auto auto ; 
grid-gap: 15px; padding: 10px; 
} 


.navbar { 
border-radius: 20px; 
padding: 20px; 
justify-content: space-between; 
float:right; grid-column: 1 / 5; 
list-style: none;
font-family: "Orelega One", serif;
  font-weight: 400;
  font-style: normal;
}

ul { 
list-style: none;
display: inline; 
border-radius: 30px; 
background-color: rgb(0, 0, 0); 
float: right; 
padding: 20px; 
color: rgb(255, 255, 255); 
flex-direction: row; 
} 
    
.logo-box { 
font-family: 'Jaro', sans-serif;
font-size: 30%;
position: absolute; 
display: inline; 
background-image: url("portfolio\ background.webp");
padding: 20px ;
border-radius: 50px; 
} 
       
#logo { 
  font-family: "Odor Mean Chey", serif;
margin: 30px; 
font-size: 28px; 
font-weight: 700; 
text-transform: uppercase; 
text-decoration: none; 
color: black;
      } 
      
.navbar ul { 
display: flex; 
flex-direction: row; 
border-radius: 30px; 
background-image: url("portfolio\ background.webp");
padding: 20px; 
list-style: none; 
justify-content: center; 
align-items: center; 
gap: 20px; 

} 
      
.navbar ul li a { 
font-family: "Odor Mean Chey", serif;
  font-weight: 700;
  font-style: normal;
color: black;
    }
          
 
    
  #menu { 
  display: none; 
  } 
 ul{
  display: flex;
  flex-direction: row; 
  } 
            
  li {
 padding-inline: 20px; 
 } 
             
               
 a { 
 text-decoration: none;
 color: rgb(7, 3, 3);    
 } 



.text-section {
  
  padding: 30px;
  border-radius: 10px;
 
}

.text-section h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.text-section span {
  color: cyan;
  font-weight: 700;
}

.text-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #cfeeff;

}


.skills {
  text-align: center;
}

.skills h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: aqua;
}


.skill-card {
    background-image: url("background\ text.jpg");
  color: #0b0b0c;
  border-radius: 15px;
  padding: 20px;
  margin: 10px auto;
  width: 80%;
 
  transition: transform 0.3s;
}

.skill-card:hover {
  transform: scale(1.05);
}           
 

 
.socials{ 
width: 80%;
height: 50%; 
border-radius: 30px; 
flex-direction: row;
 
 }
 .socials img{ 
width: 60px; 
height: 50px;
 padding: 10px; 
 border-radius: 50px;
transition: 0.3s;
  }

.navbar.active ul {
  display: flex;
  
}


@media screen and (max-width: 480px) {
 

  .grid-container {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10px;
  }

  
  .navbar {
    grid-column: 1 / 2;
  
    padding: 10px 15px;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse; 
  }

   #menu {
    display: block;
    font-size: 28px;
    color: black;
    cursor: pointer;
    order: 2; 
  }
  .logo-box {
    position: static;
    background-color: transparent;
    padding: 2%;
    margin: 0;
    order: 1;
  }

  #logo {
    font-size: 30px;
    margin: 0;
    color: black;
  }

  
  .navbar ul {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 0;
    gap: 10px;
    width: 100%;
  }

  
  .navbar.active ul {
    display: flex;
  }

  .navbar ul li a {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
 #logo:hover {
color: rgb(243, 98, 82);
font-size: 2rem;
transform: scale(2.1); 
  padding: 10px; 
}

 #logo {
 border-radius: 40px;
  transition: 0.4s ease-in-out;
 }
  
 

  
 .text-section {
  
  padding: 30px;
  border-radius: 10px;
 
}

.text-section h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.text-section span {
  color: cyan;
  font-weight: 700;
}

.text-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #cfeeff;

}

.skills {
  text-align: center;
}

.skills h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: aqua;
}


.skill-card {
    background-image: url("background\ text.jpg");
  color: #0b0b0c;
  border-radius: 15px;
  padding: 20px;
  margin: 10px auto;
  width: 80%;
 
  transition: transform 0.3s;
}

.skill-card:hover {
  transform: scale(1.05);
}           
  
 .socials {
  display: flex;
  justify-content: center;   
  align-items: center;       
  gap: 10px;                 
  margin-top: 15px;          
  padding: 10px 0;
 
}

.socials img {
  width: 50px;
  height: 35px;
border-radius: 50px;
  transition: 0.5s ease-in-out;

}

.socials img:hover {
 background-color: rgba(119, 206, 253, 0.92);
transform: scale(1.1); 
  padding: 20px; 
}
#navLinks {
    display: none;
    flex-direction: column;
    position: fixed;      
    top: 70px;            
    padding: 10px;
    border-radius: 20px;
    gap: 15px;
    width: 150px;         
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    z-index: 999;
    margin-right: 10rem;
  
  }

#navLinks.show {
    display: flex;
   
  }


}

@media screen and (min-width: 481px) and (max-width: 900px) {
  
  .navbar {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    width: 100%;
    box-sizing: border-box;
    background-color:rgb(148, 209, 249);
    border-radius: 50px;
    float: none;
    position: relative;
    z-index: 10;
  }

  
  .logo-box {
    order: 2;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    flex: 0 0 auto;
    position: static; 
  }
   #logo:hover {
color: blueviolet;
 font-size: 2rem;
transform: scale(2.1); 
  padding: 10px; 
}

 #logo {
 border-radius: 40px;
  transition: 0.4s ease-in-out;
 }

 #menu {
    display: block;
    order: 1;
    font-size: 2rem;
    color: black;
    cursor: pointer;
    flex: 0 0 auto;
    margin-right: 10%;
  }

  .navbar ul {
    display: none;
  }

 .text-section {
  
  padding: 30px;
  border-radius: 10px;
 
}

.text-section h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.text-section span {
  color: cyan;
  font-weight: 700;
}

.text-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #cfeeff;
}


.skills {
  text-align: center;
}

.skills h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: aqua;
}


.skill-card {
    background-image: url("background\ text.jpg");
  color: #0b0b0c;
  border-radius: 15px;
  padding: 20px;
  margin: 10px auto;
  width: 80%;
 
  transition: transform 0.3s;
}

.skill-card:hover {
  transform: scale(1.05);
}           
 .socials {
  display: flex;
  justify-content: center;   
  align-items: center;       
  gap: 10px;                 
  margin-top: 15px;          
  padding: 10px 0;
  
}

.socials img {
  width: 50px;
  height: 35px;
border-radius: 50px;
  transition: 0.5s ease-in-out;

}

.socials img:hover {
 background-color: rgb(232, 123, 240);
transform: scale(1.1); 
  padding: 20px; 
}
 #navLinks {
    display: none;
    flex-direction: column;
    position: fixed;      
    top: 70px;            
    padding: 20px;
    border-radius: 20px;
    gap: 15px;
    width: 150px;         
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    z-index: 999;
   
  }

#navLinks.show {
    display: flex;
  }



 
}



@media screen and (min-width: 901px) and (max-width: 1102px) {
  .navbar, .navbar ul, .logo-box {
    float: none !important;
    position: static !important;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;;
    padding: 20px 60px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
  

  }
  #logo:hover {
color: blueviolet;
 font-size: 2rem;
transform: scale(2.1); 
  padding: 10px; 
}

 #logo {
 border-radius: 20px;
  transition: 0.4s ease-in-out;
 }

  .socials{
    width: 90%;
    padding: 10px;
  }
  .socials img {
  width: 50px;
  height: 35px;
border-radius: 50px;
  transition: 0.5s ease-in-out;

}

.socials img:hover {
 background-color: rgb(217, 138, 43);
transform: scale(1.2); 
  padding: 10px; 
}

}


