
@media screen and (max-width: 480px) {
 

  .grid-container {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10px;
  }

  
  .navbar {
    grid-column: 1 / 2;
  
    padding: 10px 15px;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse; 
  }

  
  #menu {
    display: block;
    font-size: 28px;
    color: black;
    cursor: pointer;
    order: 2; 
  }

  
  .logo-box {
    position: static;
    background-color: transparent;
    padding: 2%;
    margin: 0;
    order: 1;
  }

  #logo {
    font-size: 30px;
    margin: 0;
    color: black;
  }

  
  .navbar ul {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 0;
    gap: 10px;
    width: 100%;
  }

  
  .navbar.active ul {
    display: flex;
  }

  .navbar ul li a {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
 #logo:hover {
color: rgb(243, 98, 82);
font-size: 2rem;
transform: scale(2.1); 
  padding: 10px; 
}

 #logo {
 border-radius: 40px;
  transition: 0.4s ease-in-out;
 }
  
  .image-section {
    grid-column: 1 / 2;
    text-align: center;
    margin-top: 20px;
  }

  .image-section img {
    width: 180px; 
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
  }

  
  .text-section {
    grid-column: 1 / 2;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
  }

  .text-section h2 {
    font-size: 28px;
  }

  .text-section h1 {
    font-size: 24px;
  }

  .text-section p {
    font-size: 16px;
    width: auto;
  }
 .socials {
  display: flex;
  justify-content: center;   
  align-items: center;       
  gap: 10px;                 
  margin-top: 15px;          
  padding: 10px 0;
  background-image: url("logo\ background.jpg");
}

.socials img {
  width: 50px;
  height: 35px;
border-radius: 50px;
  transition: 0.5s ease-in-out;

}

.socials img:hover {
 background-color: rgba(119, 206, 253, 0.92);
transform: scale(1.1); 
  padding: 20px; 
}

}

@media screen and (min-width: 481px) and (max-width: 900px) {
  
  .navbar {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    width: 100%;
    box-sizing: border-box;
    background-color:rgb(252, 103, 140);
    border-radius: 50px;
    float: none;
    position: relative;
    z-index: 10;
  }

  
  .logo-box {
    order: 2;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    flex: 0 0 auto;
    position: static; 
  }
   #logo:hover {
color: blueviolet;
 font-size: 2rem;
transform: scale(2.1); 
  padding: 10px; 
}

 #logo {
 border-radius: 40px;
  transition: 0.4s ease-in-out;
 }

  
  #menu {
    display: block;
    order: 1;
    font-size: 2rem;
    color: black;
    cursor: pointer;
    flex: 0 0 auto;
    margin-right: 10%;
  }

  
  .navbar ul {
    display: none;
  }

  
  .image-section {
    text-align: center;
    grid-column: 1 / 5;
    margin-top: 20px;
  }

  .image-section img {
    width: 35%;
    height: 90%;
    border-radius: 50%;
  }

  
  .text-section {
    grid-column: 1 / 5;
    text-align: center;
    padding: 20px;
  }

  
 .socials {
  display: flex;
  justify-content: center;   
  align-items: center;       
  gap: 10px;                 
  margin-top: 15px;          
  padding: 10px 0;
  background-image: url("logo\ background.jpg");
}

.socials img {
  width: 50px;
  height: 35px;
border-radius: 50px;
  transition: 0.5s ease-in-out;

}

.socials img:hover {
 background-color: rgb(232, 123, 240);
transform: scale(1.1); 
  padding: 20px; 
}


 
}



@media screen and (min-width: 901px) and (max-width: 1102px) {
  .navbar, .navbar ul, .logo-box {
    float: none !important;
    position: static !important;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;;
    padding: 20px 60px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
  

  }
  #logo:hover {
color: blueviolet;
 font-size: 2rem;
transform: scale(2.1); 
  padding: 10px; 
}

 #logo {
 border-radius: 20px;
  transition: 0.4s ease-in-out;
 }

  .socials{
    width: 90%;
    padding: 10px;
  }
  .socials img {
  width: 50px;
  height: 35px;
border-radius: 50px;
  transition: 0.5s ease-in-out;

}

.socials img:hover {
 background-color: rgb(217, 138, 43);
transform: scale(1.2); 
  padding: 10px; 
}

}
