
* { 
margin: 0;
padding: 0;
} 

body { 
 
background-image: url("background.jpg"); 
background-repeat: no-repeat;
background-size: cover; 
} 

.grid-container > div { 
 font-size: 30px; 
 
} 

.grid-container { display: grid; 
grid-template-columns: auto auto auto auto ; 
grid-gap: 15px; padding: 10px; 
} 


.navbar { 
border-radius: 20px; 
padding: 20px; 
justify-content: space-between; 
float:right; grid-column: 1 / 5; 
list-style: none;
font-family: "Orelega One", serif;
  font-weight: 400;
  font-style: normal;
}

ul { 
list-style: none;
display: inline; 
border-radius: 30px; 
background-color: rgb(0, 0, 0); 
float: right; 
padding: 20px; 
color: rgb(255, 255, 255); 
flex-direction: row; 
} 
    
.logo-box { 
font-family: 'Jaro', sans-serif;
font-size: 30%;
position: absolute; 
display: inline; 
background-image: url("portfolio\ background.webp");
padding: 20px ;
border-radius: 50px; 
} 
       
#logo { 
  font-family: "Odor Mean Chey", serif;
margin: 30px; 
font-size: 28px; 
font-weight: 700; 
text-transform: uppercase; 
text-decoration: none; 
color: black;
      } 
      
.navbar ul { 
display: flex; 
flex-direction: row; 
border-radius: 30px; 
background-image: url("portfolio\ background.webp");
padding: 20px; 
list-style: none; 
justify-content: center; 
align-items: center; 
gap: 20px; 

} 
      
.navbar ul li a { 
font-family: "Odor Mean Chey", serif;
  font-weight: 700;
  font-style: normal;
color: black;
    }
          
 
    
  #menu { 
  display: none; 
  } 
 ul{
  display: flex;
  flex-direction: row; 
  } 
            
  li {
 padding-inline: 20px; 
 } 
             
               
 a { 
 text-decoration: none;
 color: rgb(255, 255, 255);    
 color: rgb(7, 3, 3);    
 } 

 .image-section { 
  grid-column: 1 / 2; 
  text-align: center; 
  padding: 2rem 0px 0px 0px; 
 } 
                
 .image-section img { 
  border-radius: 50%; 
  width: 70%; 
  height: 90%; 
 } 
                
 .text-section { 
  font-family: 'Abhaya Libre';
  grid-column: 2 / 5; 
  padding: 30px; 
  display: grid; 
  place-content: center; 
     
                  
                  
   h2{     
  font-size: 90px;   
  background-image: url("textbackground.jpg"); 
background-size: cover;
background-position: center; 
color: transparent; 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transition: 0.3s ease;
font-family: 'Noto serif';
  }
 h1{
                  
   font-size: 50px; 
   background-image: url("textbackground.jpg"); 
background-size: cover;
background-position: center; 
color: transparent; 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transition: 0.3s ease;
font-family: "Orelega One", serif;
  font-weight: 400;
  font-style: normal;
   }

p{ 
  background-image: url("portfolio\ background.webp"); 
background-size: cover;
background-position: center; 
color: transparent; 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transition: 0.3s ease;
margin-left: 30%;


 }
 }
 
.socials{ 
width: 80%;
height: 50%; 
border-radius: 30px; 
flex-direction: row;
 background-image: url("logo\ background.jpg");
 
 }
 .socials img{ 
width: 60px; 
height: 50px;
 padding: 10px; 
 border-radius: 50px;
transition: 0.3s;
  }
  footer {
  background-color: #af4bf2;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.navbar.active ul {
  display: flex;
  
}

